/* */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@300&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;

}
nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 40px;
    padding: 0 80px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 62vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif; 
    display: flex;
    margin: 15px auto;
    width: 60%;
    border-radius: 10px;
    background-image: url(background.webp);
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 20px;
    margin-left: 500px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    
}
.songitemcontainer{
    margin-top:  34px;
}

.singitems{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 34px;
}

.singitems img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songinfo{
    position: relative;
    left: 10vw;
    font-family: 'Varela Round', sans-serif; 
}

.songinfo img{
    opacity: 0;
    transition: opacity is ease-in;
}